@model SystoqueApplication.Models.VendedorModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>VendedorModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Datanasc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Datanasc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comissao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comissao)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Matricula }) |
    @Html.ActionLink("Back to List", "Index")
</p>
