@model SystoqueApplication.Models.ProdutoPerecivel

@{
    ViewBag.Title = "Pesquisar Produto";
}

<h3>Pesquisa de Produto Perecível</h3>

@using (Html.BeginForm("Index", "ProdutoPerecivel", FormMethod.Get))
{
    <div class="form-group">
        @Html.TextBox("codigoBarras", "", new { @class = "form-control", @placeholder = "Código de Barras" })
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-default">Pesquisar Produto</button>
    </div>
}

@using (Html.BeginForm("Index", "ProdutoPerecivel", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
           
            <div class="col-md-10">
                @Html.HiddenFor(model => model.codigoBarra)
                
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.nomeProduto, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.nomeProduto, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.nomeProduto, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.valorVenda, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.valorVenda, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.valorVenda, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.qtdeProduto, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.qtdeProduto, new { htmlAttributes = new { @class = "form-control", @min = 1 } })
                @Html.ValidationMessageFor(model => model.qtdeProduto, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.qtdeMinProduto, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.qtdeMinProduto, new { htmlAttributes = new { @class = "form-control", @min = 1 } })
                @Html.ValidationMessageFor(model => model.qtdeMinProduto, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.dataValidade, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.dataValidade, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.dataValidade, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.lote, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.lote, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.lote, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Salvar" class="btn btn-primary" />
            </div>
        </div>
    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}